[package]
name = "impg"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.3"
clap = { version = "4.5.0", features = ["derive"] }
coitrees = "0.4.0"
flate2 = "1.0.28"
serde = { version = "1.0.197", features = ["derive"] }
xz2 = "0.1.7"
