[package]
name = "impg"
version = "0.2.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.3"
clap = { version = "4.5.23", features = ["derive"] }
coitrees = "0.4.0"
num_cpus = "1.16.0"
rayon = "1.10.0"
serde = { version = "1.0.216", features = ["derive"] }
noodles = { version = "0.87.0", features = ["bgzf"] }
regex = "1.11.1"
log = "0.4.22"
env_logger = "0.11.5"
natord = "1.0.9"